.friend_list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .item {
    width: 300px;
   
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 8px 4px rgb(197, 191, 191);
    background-color: #fff;
    
  }
  
  .item:hover {
    transform: translateX(15px);
  }
  
  
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .statusOf {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
  }
  
  .statusOn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
  }
  
  .avatar {
    margin: 0 20px;
  }
  
  .name {
    font-size: 20px;
  }